article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 20px; }

ul {
  padding: 0;
  list-style: none; }

input[type="checkbox"] {
  display: none; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .row .half {
    width: 48%; }

#game-window {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333;
  max-width: 100vw;
  height: 100vh;
  padding: 2rem 2rem; }
  #game-window svg {
    max-width: 100vmax;
    max-height: 100%; }

.region-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: silver;
  color: #333;
  padding: 2rem;
  border: 4px solid #333; }
  .region-info .region-name {
    width: 100%; }
  .region-info div {
    width: 50%; }

.region {
  fill: silver;
  z-index: 100;
  -webkit-transition: fill .2s ease-in-out;
  -o-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out; }
  .region:hover {
    fill: crimson; }

.disease-info {
  position: absolute;
  bottom: 0; }
  .disease-info label {
    padding: .5rem 1rem;
    font-size: 30px;
    width: 100%;
    height: 100%;
    background: silver;
    -webkit-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s; }
  .disease-info .disease-container {
    height: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s, height .3s;
    -o-transition: max-height .3s, height .3s;
    transition: max-height .3s, height .3s; }
  .disease-info .fa-chevron-up {
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg) translateY(-50%);
    -ms-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    font-size: 1.5rem; }
    .disease-info .fa-chevron-up path {
      fill: #333; }
  .disease-info input:checked + .fa-chevron-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: .8rem; }
    .disease-info input:checked + .fa-chevron-up + .disease-container {
      height: 100%;
      max-height: 1000px; }
  .disease-info div {
    height: 100%; }
  .disease-info button {
    color: silver;
    background: #333;
    border: 2px solid transparent;
    outline: none;
    margin: .5rem;
    padding: 1rem .25rem;
    width: calc(100% / 6);
    -webkit-transition: color .2s, border .2s, background-color .2s;
    -o-transition: color .2s, border .2s, background-color .2s;
    transition: color .2s, border .2s, background-color .2s;
    font-size: 1rem; }
    .disease-info button:hover {
      border: 2px solid crimson;
      background: silver;
      color: #333; }
    .disease-info button p {
      margin: 0; }
    .disease-info button.purchased {
      position: relative;
      background-color: crimson;
      color: silver; }

.symptoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .symptoms .heading, .symptoms .container {
    width: 100%; }
  .symptoms .tier1, .symptoms .tier2, .symptoms .tier3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }

.resistances, .transmission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 2px solid #333;
  margin: .5rem;
  width: 40%; }
  .resistances button, .transmission button {
    min-width: 45%; }

.container {
  width: 100%; }

.game-over, .winner {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 5vmax;
  text-transform: uppercase;
  letter-spacing: .2rem;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(220, 20, 60, 0.7)), to(rgba(192, 192, 192, 0.7)));
  background: -webkit-linear-gradient(bottom left, rgba(220, 20, 60, 0.7), rgba(192, 192, 192, 0.7));
  background: -o-linear-gradient(bottom left, rgba(220, 20, 60, 0.7), rgba(192, 192, 192, 0.7));
  background: linear-gradient(to top right, rgba(220, 20, 60, 0.7), rgba(192, 192, 192, 0.7)); }

.region-info, .disease-info {
  background: rgba(192, 192, 192, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  max-height: 100vh; }
  .region-info .fa-window-close, .region-info .fa-chevron-down, .disease-info .fa-window-close, .disease-info .fa-chevron-down {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }

.region-info {
  position: absolute; }
