@import './partials/setup';

$highlight: crimson;
$darkShade: #333;
$lightShade: silver;

body{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

ul{
    padding: 0;
    list-style: none;
}
input[type="checkbox"]{
    display: none;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .half{
        width: 48%;
    }
    .third{
        width: 33%;
        h4{
            width: 50%;
        }
    }
}

#game-window{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, $darkShade 97%, hsl(0, 0%, 30%) 3%) center repeat-y;
    background-size: 100vw 10vh;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    // overflow: scroll;
    svg{
        max-width: 100vmax;
        max-height: 100%;
    }
}

.home-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, $darkShade, $highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lightShade;
    text-transform: uppercase;
    z-index: 999;
    overflow: scroll;
    .container{
        position: relative;
        // height: 50%;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .row{
        justify-content: center;
        align-items: center;
    }
    label{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 2vw;
        margin: .5rem 2rem;
        border: 4px solid $darkShade;
        color: $darkShade;
        transition: background .3s, color .3s, border .3s;
        h3{
            width: 100%;
            text-align: center;
            margin: 0rem 0 3rem;
        }
        &:hover{
            svg{
                fill: $lightShade;
            }
            color: $lightShade;
            border-color: $lightShade;
        }
    }
    svg{
        height: 10vh;
        fill: $darkShade;
        transition: fill .3s;
    }
    input[type=text]{
        background: transparent;
        border: 0;
        outline: 0;
        color: $lightShade;
        text-align: center;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $lightShade;
        border-radius: 0;
        transition: font-size .3s;
        &:focus{
            font-size: 1.5rem;
        }
    }
    input[type="radio"]{
        display: none;
        &:checked{
            + label {
                background-color: $lightShade;
                border-color: $lightShade;
                h3{
                    color: $highlight;
                }
                svg{
                    fill: $highlight;
                }
            }
        }
    }
    button{
        padding: 1rem !important;
        width: 33%;
        &:hover{
            border-color: $lightShade;
            color: $highlight;

        }
    }
}

.region-info{
    // position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // top: 0;
    background-color: $lightShade;
    color: $darkShade;
    padding: 2rem;
    border: 4px solid $darkShade;
    .region-name{
        width: 100%;
    }
    div{
        // width: 50%;
    }
}

.region {
    fill: silver;
    z-index: 100;
    transition: fill .2s ease-in-out;
    cursor: pointer;
    &:hover{
        fill: $highlight;
    }
}

.disease-info, .world-info{
    position: absolute;
    bottom: 0;
    label{
        position: relative;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba($color: $lightShade, $alpha: 1);
        transition: height .3s, background .3s, color .3s;
        &:hover{
            background: $highlight;
            color: $lightShade;
            + input + svg path{
                fill: $lightShade !important;
            }
        }
    }
    .disease-container, .world-container{
        height: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height .3s, height .3s, padding 1.2s;
    }
    .fa-chevron-up, .fa-chevron-down{
        position: absolute;
        right: 1rem;
        top: 1.2rem;
        transform-origin: center;
        transform: rotate(0deg) translateY(-50%);
        transition: transform .3s, top .3s;
        font-size: 1.5rem;
        path{
            fill: $darkShade;
            transition: fill .3s;
        }
    }
    input:checked{
        + .fa-chevron-up, + .fa-chevron-down {
            transform: rotate(180deg);
            top: .4rem;
            + .disease-container, + .world-container{
                height: 100%;
                max-height: 88vh;
                padding: 1rem;
                z-index: 999;
                overflow: scroll;
                mix-blend-mode: color-burn;
            }
        }
    }
    div{
        height: 100%;
    }
}

.world-info{
    bottom: initial;
    top: 0;
    // background: rgba($color: $lightShade, $alpha: .7);
}
button{
    color: $lightShade;
    background: $darkShade;
    border: 2px solid transparent;
    outline: none;
    margin: .33rem;
    padding: .66rem .25rem;
    width: calc(100% / 6);
    transition: color .2s, border .2s, background-color .2s;
    font-size: 1rem;
    &:hover{
        border: 2px solid $highlight;
        background: $lightShade;
        color: $darkShade;
    }
    p{
        margin: 0;
    }
    &.purchased{
        position: relative;
        background-color: $highlight;
        color: $lightShade;
    }
}

.symptoms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .heading, .container{
        width: 100%;
    }
    .tier1, .tier2, .tier3{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.resistances, .transmission {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid $darkShade;
    margin: .5rem;
    width: 40%;
    padding: .5rem 1rem;
    button{
        flex: 1 0 45%;
    }
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-over, .winner{
    position: absolute;
    top: 0;
    display: flex;
    // align-self: stretch;
    // text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 5vmax;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background: linear-gradient(to top right, rgba($color: $highlight, $alpha: .7) , rgba($color: $lightShade, $alpha: .7));
}

.region-info, .disease-info, .world-info{
    background: rgba($color: $lightShade, $alpha: .85);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-height: 100vh;
    // align-items: flex-start;
    // justify-content: space-between;
    .fa-window-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        path{
            fill: $darkShade;
            transition: fill .2s ease-in-out;
        }
        &:hover path{
            fill: $highlight;
        }
    }
    h3{
        margin: .5rem 0;
    }
}

.region-info{
    position: absolute;
}
.world-info{
    h4{
        font-size: 1rem;
        margin: .75rem 0;
    }
    .infected-regions, .clean-regions, .dead-regions{
        display: flex;
        flex-wrap: wrap;
        h4{
            font-size: .75rem;
            margin: .5rem 0;
        }
    }
}
.global-event{
    font-size: 1rem;
    color: $darkShade !important;
    background: $lightShade;
    margin: .5rem 0;
    padding: .5rem;
    mix-blend-mode: color-burn;
    text-decoration: line-through;
    &.global-event--active{
        color: $lightShade !important;
        background-color: $highlight;
        text-decoration: initial;
    }
}

.vaccine-status{
    display: flex;
    flex-wrap: wrap;
    h3{
        width: 100%;
    }
}
.outer-bar{
    display: flex;
    align-items: center;
    min-height: 2rem;
    margin: .5rem 0;
    width: 100%;
    background: $darkShade;
    padding: 5px;
    transition: width .3s;
    .inner-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0%;
        height: 2rem;
        align-self: stretch;
        background: $highlight;
        color: $lightShade;
    }
}

.portrait-detected {
    position: absolute;
    padding: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba($color: $highlight, $alpha: .7);
    color: $lightShade;
    z-index: 999;

}

@import './partials/mediaQueries';